.popup__close-button {
    all: unset;
    position: absolute;
    top: -40px;
    right: -40px;
    background: url(../../../images/close-button.svg);
    width: 32px;
    height: 32px;
    transition: opacity ease-in-out 0.3s;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.8;
}


.popup__close-button:active {
    opacity: 1;
}